#root {
	margin: 0;
	text-align: top;
	font-family: 'Arial', sans-serif;
}

.article {
	background-color: #D9EAFD;
	margin: 1rem;
	padding: .5rem;
	width: 70%;
}

.articleListContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar {
	background-color: #001A6E;
}

.navbarContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}